.doboz{
  border:1px solid black;
  margin: 20px 0px;
  padding:15px;
  box-shadow: 5px 5px 5px;
  text-align: justify;

}
.jatekCim{
  text-align: center;
  background-color: blanchedalmond;
  color: blue;
  font-size: 20px;
}
.jatekTipus{
  font-style: italic;
  font-size: 10px;
}
table,tr,td,th{
  border:1px solid black;
  border-collapse: collapse;
  padding:15px;
  margin:auto;
}

.alma{
  margin-top:20px;
  margin-bottom:20px;
  border-radius: 10px;
  border:2px solid black;

  
} 
label{
  margin:10px;
  padding: auto;
  align-items: center;
  font-weight: bold;
}
input{
  margin:10px;
  padding: auto;
  align-items: center;
}
button{
  margin:10px;
  padding: auto;
  align-items: center;
  font-weight: bold;
  background-color: lightblue;
  border-radius: 5px;
  
} 
textarea{
  width: 70%;
  height: 200px;
  padding: auto;
  align-items: center;
}
.label1{
  margin:10px;
  padding: auto;
  align-items: center;
  font-weight: bold;
  vertical-align: top;
}
.alcim{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}